@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Jost';
}


.default-slider .swiper-pagination-bullet {
  width: 50px;
  height: 6px;
  display: inline-block;
  background: #0ea5e9;
  margin: 0 5px;
  border-radius: 20px;
  transition:
    opacity 0.5s,
    background-color 0.5s,
    width 0.5s;
}

.default-slider .swiper-pagination-bullet {
  width: 10px;
  height: 6px;
  display: inline-block;
  background: #0ea5e9;
  margin: 0 5px;
  border-radius: 20px;
  transition:
    opacity 0.5s,
    background-color 0.5s,
    width 0.5s;
}
.dedault-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 50px !important;
}

.scroll-container {
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 3px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* AG GRID */

.ag-theme-alpine .ag-row-hover {
  background-color: #ebf8ff !important; /* Tailwind: blue-100 */
}
